@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=VT323&display=swap');

:root {
    --bg: rgb(18, 15, 21);
    --text: rgb(255, 255, 255);
    --accent: rgb(13, 155, 0);
    --content: rgb(230, 230, 230);
    --glass: rgba(255, 255, 255, 0.1);
    --section_bg: rgb(26, 29, 35);
    --section_bg_hv: rgb(32, 36, 44);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    padding: 20px;
    color: var(--text);
    font-family: "JetBrains Mono", monospace;
}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;
}

.section {
    padding: 40px 0;
}

.nav_glass {
    max-width: 1200px;
    margin: 0 auto;
    top: 20px;
    background: var(--glass);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.2);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding: 1rem 6.7%;
}

.main_title {
    color: var(--text);
    font-family: "JetBrains Mono", monospace;
    font-size: 40px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.main_title:hover {
    transform: scale(1.1);
}

.nav_anchors {
    list-style: none;
    display: flex;
    gap: 36px;
    align-items: center;
}

.nav_anchors a {
    font-size: 20px;
    font-weight: 500;
    color: var(--text);
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    letter-spacing: 0.5px;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
}

.nav_anchors a:hover, .nav_anchors a:active {
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
}

h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 14px;
    letter-spacing: 0.5px;
}

.content {
    max-width: 100ch;
    margin: 0 auto;
}

.content p {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--content);
    line-height: 1.6;
    margin-top: 14px;
    text-align: center;
    letter-spacing: 0.3px;
}

.content a {
    color: var(--text);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: 0.5s ease;
}

.content a:hover {
    color: var(--accent);
}

img {
    display: block;
    margin: 0 auto;
}

.personal_photo img {
    width: 450px;
    height: 450px;
    border-radius: 5%;
    object-fit: cover;
    margin-top: 32px;
    border: 6px solid var(--section_bg);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.4);
}

.cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;   
}

.card {
    width: 435px;
    height: auto;
    background-color: var(--section_bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, border 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    background-color: var(--section_bg_hv);
}

.card_img {
    padding: 16px;
}

.card_img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    display: block;
}

.card_content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card_content h3 {
    color: var(--text);
    font-size: 28px;
    margin-bottom: 8px;
}

.card_content p {
    color: var(--text);
    font-size: 14px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card_content .card_desc {
    padding-bottom: 30px;
}

.card_content .card_meta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_content .card_meta a {
    color: var(--text);
    font-size: 15px;
    text-decoration: underline;
}

.footer {
    padding: 20px 0;
    background-color: var(--section_bg);
}

.footer .social > a{
    font-size: 20px;
    color: var(--text);
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto 0;
    transition: 0.5s ease;
}

.footer .social > a:hover {
    color: var(--accent);
}

.footer .contacts_info {
    list-style: none;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.footer .contacts_info a {
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: 0.5s ease;
}

.footer .contacts_info img {
    width: 36px;
    height: 36px;
}

.footer .contacts_info a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px var(--accent), 0 0 30px var(--accent), inset 0 0 25px var(--accent);
    border-color: var(--accent);
    background-color: var(--bg);
}
